.div1 {
    min-height: 80vh;
}

.bg-text {
    z-index: -1;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-text h1 {
    font-size: 18rem;
    letter-spacing: 1rem;
    color: #ededed;
    font-weight: 600;
    line-height: 18rem;
}

.left-tab {
    height: 100vh;
    margin-left: 2rem;
}

.left-tab .icons-div i {
    font-size: 2rem;
    margin: 0.5rem 0;
}

.left-tab .arrows {
    position: relative;
}

.left-tab .arrows i {
    font-weight: 800;
    font-size: 1.5rem;
}

.rotate-text {
    transform: rotate(-90deg);
}

.left-tab .arrows .circle {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 1rem;
    box-shadow: 0 0 10px #cbcbcb;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-tab .arrows .circle:hover {
    background-color: #ff0000;
    color: #fff;

}

#main-pika {
    position: absolute;
    right: 0;
    top: 0;
}

.div-3 {
    margin-top: 40rem;
}

.movies h1 {
    color: #ffef39;
    font-size: 140px;
    text-align: end;
    width: 100%;
    font-weight: 700;
    padding-right: 100px;
}

.movies img {
    width: 450px;
}

.movies .text {
    margin-left: 20px;
    font-size: 50px;
    font-weight: 700;
}

.movies h3 {
    font-size: 35px;
    font-weight: 700;
}

.movies p {
    font-weight: 600;
    font-size: 20px;
}

.movies h2 {
    font-weight: 600;
    font-size: 20px;
}

.text-red {
    color: #ff0000;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #ff0000;
    border-radius: 50%;
}

.line {
    height: 3.5px;
    width: 100%;
    background-color: #ff0000;
}

.footer {
    background-color: #ffef39;
    margin-top: 3rem;
}

.footer img {
    width: 80px;
}

#pika-text {
    position: absolute;
    left: 5rem;
    top: 4rem;
}